@font-face {
  font-family: "MaruBuri";
  src: local("MaruBuri ExtraLight"), local("마루 부리 아주가는"),
    url("MaruBuri-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: wrap;
}

@font-face {
  font-family: "MaruBuri";
  src: local("MaruBuri Light"), local("마루 부리 가는"),
    url("MaruBuri-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: wrap;
}

@font-face {
  font-family: "MaruBuri";
  src: local("MaruBuri Regular"), local("마루 부리 중간"),
    url("MaruBuri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: wrap;
}

@font-face {
  font-family: "MaruBuri";
  src: local("MaruBuri SemiBold"), local("마루 부리 조금굵은"),
    url("MaruBuri-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: wrap;
}

@font-face {
  font-family: "MaruBuri";
  src: local("MaruBuri Bold"), local("마루 부리 굵은"),
    url("MaruBuri-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: wrap;
}
